<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Classic</key>
	<array>
		<dict>
			<key>difficulty</key>
			<integer>1</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>1</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>2</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>2</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>3</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>3</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>4</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>4</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>5</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>5</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>6</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>6</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>7</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>7</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>8</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>8</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>9</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>9</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>10</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>10</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>11</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>11</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>12</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>12</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>13</integer>
			<key>completed</key>
			<false/>
		</dict>
	</array>
	<key>Sequence</key>
	<array>
		<dict>
			<key>difficulty</key>
			<integer>1</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>1</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>2</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>2</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>3</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>3</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>4</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>4</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>5</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>5</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>6</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>6</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>7</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>7</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>8</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>8</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>9</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>9</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>10</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>10</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>11</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>11</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>12</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>12</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>13</integer>
			<key>completed</key>
			<false/>
		</dict>
	</array>
	<key>Simon</key>
	<array>
		<dict>
			<key>difficulty</key>
			<integer>1</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>1</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>2</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>2</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>3</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>3</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>4</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>4</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>5</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>5</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>6</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>6</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>7</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>7</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>8</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>8</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>9</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>9</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>10</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>10</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>11</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>11</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>12</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>12</integer>
			<key>completed</key>
			<false/>
		</dict>
		<dict>
			<key>difficulty</key>
			<integer>13</integer>
			<key>completed</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
